.qad {
    height: 100vh;
}

a {
    text-decoration: none;
}

.forLink {
    color: white;
    text-decoration: none;
}

@media (width: 320px) {
    .forLinksHead {
        justify-content: center;
    }
}
